<h1>feed</h1>


<table>
  <tr>
    <th>Attribute</th>
    <th>Values</th>
  </tr>
  <tr>
    <td>links-next</td>
    <td><%= @feed.get_next %></td>
  </tr>
  <tr>
    <td>links-previous</td>
    <td><%= @feed.get_previous %></td>
  </tr>
  <tr>
    <td>links-self</td>
    <td><%= @feed.get_self %></td>
  </tr>
  <tr>
    <td>element count</td>
    <td><%= @feed.get_element_count %></td>
  </tr>
</table>

 <% @neo = @feed.get_near_earth_objects %>

 <% keys = @neo.keys %>
 <% keys.each do |date|%>
 <h1><%= date %></h1>
 <% @neo[date].each do |singleElement|%>
    <h3><%= singleElement['neo_reference_id'] %></h3>
  <% end %>
 <% end %>
