<h1>Results for <%= @results['neo_reference_id'] %></h1>

<!-- <table>
  <tr>
    <th>Attribute</th>
    <th>Values</th>
  </tr>
  <% keys = @results.keys %>
  <% keys.each do |attribute| %>
  <tr>
    <td><%= attribute %></td>
    <td><%= @results[attribute] %></td>
  </tr>
  <% end %>
</table> -->

<table>
  <tr>
    <th>Attribute</th>
    <th>Values</th>
  </tr>

  <tr>
    <td>links-self</td>
    <td><%= @lookup.get_links_self_key_value %></td>
  </tr>
  <tr>
    <td>neo_reference_id</td>
    <td><%= @lookup.get_neo_reference_id_key_value %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= @lookup.get_name_key_value %></td>
  </tr>
  <tr>
    <td>nasa_jpl_url</td>
    <td><%= @lookup.get_nasa_jpl_url_key_value%></td>
  </tr>
  <tr>
    <td>absolute_magnitude_h</td>
    <td><%= @lookup.get_absolute_magnitude_h_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_kilometers_min_key_value</td>
    <td><%= @lookup.get_estimated_diameter_kilometers_min_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_kilometers_max_key_value</td>
    <td><%= @lookup.get_estimated_diameter_kilometers_max_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_meters_min_key_value</td>
    <td><%= @lookup.get_estimated_diameter_meters_min_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_meters_max_key_value</td>
    <td><%= @lookup.get_estimated_diameter_meters_max_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_miles_min_key_value</td>
    <td><%= @lookup.get_estimated_diameter_miles_min_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_miles_max_key_value</td>
    <td><%= @lookup.get_estimated_diameter_miles_max_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_feet_min_key_value</td>
    <td><%= @lookup.get_estimated_diameter_feet_min_key_value%></td>
  </tr>
  <tr>
    <td>estimated_diameter_feet_max_key_value</td>
    <td><%= @lookup.get_estimated_diameter_feet_max_key_value%></td>
  </tr>
  <tr>
    <td>is_potentially_hazardous_asteroid_key_value</td>
    <td><%= @lookup.get_is_potentially_hazardous_asteroid_key_value%></td>
  </tr>
  <tr>
    <td>all_close_approach_dates</td>
    <td><%= @lookup.get_all_close_approach_dates%></td>
  </tr>
  <tr>
    <td>all_epoch_date_close_approaches</td>
    <td><%= @lookup.get_all_epoch_date_close_approaches%></td>
  </tr>
  <tr>
    <td>all_relative_velocity_kps</td>
    <td><%= @lookup.get_all_relative_velocity_kps%></td>
  </tr>
  <tr>
    <td>all_relative_velocity_mphs</td>
    <td><%= @lookup.get_all_relative_velocity_mphs%></td>
  </tr>
  <tr>
    <td>all_miss_distance_astronomicals</td>
    <td><%= @lookup.get_all_miss_distance_astronomicals%></td>
  </tr>
  <tr>
    <td>all_miss_distance_lunars</td>
    <td><%= @lookup.get_all_miss_distance_lunars%></td>
  </tr>
  <tr>
    <td>all miss distance kilometers</td>
    <td><%= @lookup.get_all_miss_distance_kilometers%></td>
  </tr>
  <tr>
    <td>all miss distance miles</td>
    <td><%= @lookup.get_all_miss_distance_miles%></td>
  </tr>
  <tr>
    <td>all orbiting bodies</td>
    <td><%= @lookup.get_all_orbiting_bodies%></td>
  </tr>
  <tr>
    <td>orbit id</td>
    <td><%= @lookup.get_orbit_id%></td>
  </tr>
  <tr>
    <td>orbit determination date</td>
    <td><%= @lookup.get_orbit_determination_date%></td>
  </tr>
  <tr>
    <td>orbit uncertainty</td>
    <td><%= @lookup.get_orbit_uncertainty%></td>
  </tr>
  <tr>
    <td>minimum orbit intersection</td>
    <td><%= @lookup.get_minimum_orbit_intersection%></td>
  </tr>
  <tr>
    <td>jupiter tisserand invariant</td>
    <td><%= @lookup.get_jupiter_tisserand_invariant%></td>
  </tr>
  <tr>
    <td>epoch osculation</td>
    <td><%= @lookup.get_epoch_osculation%></td>
  </tr>
  <tr>
    <td>eccentricity</td>
    <td><%= @lookup.get_eccentricity%></td>
  </tr>
  <tr>
    <td>semi major axis</td>
    <td><%= @lookup.get_semi_major_axis%></td>
  </tr>
  <tr>
    <td>inclination</td>
    <td><%= @lookup.get_inclination%></td>
  </tr>
  <tr>
    <td>orbital period</td>
    <td><%= @lookup.get_orbital_period%></td>
  </tr>
  <tr>
    <td>perihelion_distance</td>
    <td><%= @lookup.get_perihelion_distance%></td>
  </tr>
  <tr>
    <td>perihelion_argument</td>
    <td><%= @lookup.get_perihelion_argument%></td>
  </tr>
  <tr>
    <td>aphelion_distance</td>
    <td><%= @lookup.get_aphelion_distance%></td>
  </tr>
  <tr>
    <td>perihelion_time</td>
    <td><%= @lookup.get_perihelion_time%></td>
  </tr>
  <tr>
    <td>mean_anomaly</td>
    <td><%= @lookup.get_mean_anomaly%></td>
  </tr>
  <tr>
    <td>mean_motion</td>
    <td><%= @lookup.get_mean_motion%></td>
  </tr>
  <tr>
    <td>equinox</td>
    <td><%= @lookup.get_equinox%></td>
  </tr>




</table>
